@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .slow-spin {
    animation: rotation 5s linear infinite;
  }

  @layer base {
    .text-gradient {
      @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
    }
    .section {
      /* py-8 lg:py-24 */
      @apply flex items-center my-8 py-20;
    }
  }

  .darken-city {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('/assets/backgrounds/city.jpg');
    
    background-position:center;
    background-size:cover;
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default body margin */
  }

  .darken-code {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url('/assets/backgrounds/code.jpg');
    background-position: top;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #FF0000 !important;
}